body{
    background-image: url(../img/background.jpg);
    
}

div.botones-laterales {
    position: fixed; /* Fijar posición en la ventana del navegador */
    top: 40%; /* Colocar en la mitad superior de la ventana */
    transform: translateY(-50%); /* Centrar verticalmente */
    left: 0; /* Colocar en el lado izquierdo */
    display:flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    
}

h1{

font-family: fantasy;
color: black;
font-size: 90px;
text-align: center;
}
h1:hover{
    color: rgb(225, 193, 111);
}

/*div#contenedor1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}*/

.boton-gris{    
        background-color: grey;
    }
    
    .boton-gris:hover {
        background-color: rgb(225, 193, 111); /* Color de fondo al pasar el mouse */
        color: black;
    }

    .boton-gris:visited{
        color: grey;
    }
    p#mensaje{
        font-family: fantasy;
        color: black;
        font-size: 30px;
        text-align: right;
        height: 20vh;

    }

    p#mensaje:hover{
        color: rgb(225, 193, 111); 

    }
    
    .navbar-brand {
        background-color: transparent;
        text-align: center;
        margin-left: 70px;
        margin-right: 30px;
        font-family: fantasy;
        font-size: 40px;
    }

    

    .navbar-nav .nav-item {
        margin-left: 30px;
        margin-right: 30px; /* Espaciado entre elementos de navegación */
    }

    .nav-item .nav-link {
        color: black;
        font-family: fantasy;
        font-size: 15px;
    }
    
    .nav-item .nav-link:hover {
        color: rgb(225, 193, 111);
    }
    .nav-item .nav-link:visited{
        color: grey;
    }

   .nav-link::after {
        content:url("../img/martillo.png");
        
    }

    p#info{
        font-family: fantasy;
        text-align: justify;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .titulo-gral{
        text-decoration:underline;
    }
    .titulo-gral:hover{
        color: rgb(225, 193, 111);
    }

    h2.ubicacion{
        text-decoration:underline;
        text-align: right;
        margin-right: 100px;
    }

    .borde{
        border: 3px solid transparent;
    }

    .borde:hover{
        border-color: black;
    }

    .botton {
        background-color: black ;
        border-color: white;
        color: white; 
        transition: background-color 0.3s ease;
      }
      
      .botton:hover {
        background-color: rgb(225, 193, 111); 
        border-color: rgb(225, 193, 111);
        color: white; 
      }
    
      .btn:visited {
        color: gray;
      }